<!doctype html>
<html>
<head>
  <title>CS290 Spring 2021 Homework 6</title>
  <link rel="stylesheet" type='text/css' href="/public/css/style.css">
</head>
<body>
  {{{body}}}
  <script type="text/javascript" src="/public/js/scripts.js"></script>
</body>
</html>